@media (max-width: 920px){
    .page-card .card .column{
        max-width: 250px;
        padding: 50px 30px;
    }
}

@media (max-width: 770px){
    .page-card{
        height: 100%;
        padding: 30px;
    }

    .page-card .card{
        flex-direction: column;
    }

    .page-card .card .column{
        height: 450px;
        max-width: 500px;
        padding: 50px;
    }

    .page-card .card .column .ico{
        margin-bottom: 0;
    }

    .page-card .card .column .more{
        margin-top: 20px;
    }

    .page-card .card .column.sedan{
        border-radius: 10px 10px 0 0;
    }
    
    .page-card .card .column.luxo{
        border-radius: 0 0 10px 10px;
    }

    .attribution,
    .attribution a{
        font-size: 12px;
    }
}