*{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--base);
}

.page-card{
    background-color: var(--main);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-card .card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.page-card .card .column{
    height: 500px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.page-card .card .column.sedan{
    background-color: var(--bg-sedan);
    border-radius: 10px 0 0 10px;
}

.page-card .card .column.usv{
    background-color: var(--bg-usv);
}

.page-card .card .column.luxo{
    background-color: var(--bg-luxo);
    border-radius: 0 10px 10px 0;
}
.page-card .card .column .ico{
    width: 60px;
    margin-bottom: 20px;
}

.page-card .card .column .title{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
    color: var(--main);
}

.page-card .card .column .description{
    line-height: 25px;
}

.page-card .card .column .more{
    background-color: var(--main);
    height: 45px;
    width: 150px;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.page-card .card .column.sedan .more{
    color: var(--bg-sedan);
}

.page-card .card .column.usv .more{
    color: var(--bg-usv);
}

.page-card .card .column.luxo .more{
    color: var(--bg-luxo);
}

.page-card .card .column .more:hover{
    color: var(--main);
    border: solid 2px;
}

.page-card .card .column.sedan .more:hover{
    background-color: var(--bg-sedan);
}

.page-card .card .column.usv .more:hover{
    background-color: var(--bg-usv);
}

.page-card .card .column.luxo .more:hover{
    background-color: var(--bg-luxo);
}

.attribution{
    color: var(--bg-luxo);
    padding: 10px;
}

.attribution a{
    color: var(--bg-sedan);
    transition: 0.3s ease-in-out;
}

.attribution a:hover{
    color: var(--bg-usv);
}